@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #000000;
  background-color: #FEEDDA;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Rodchenko';
  font-style: light;
  font-weight: 300;
  src: url('./assets/fonts/Rodchenko-Light.ttf');
}

@font-face {
  font-family: 'Rodchenko';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Rodchenko-Regular.ttf');
}

@font-face {
  font-family: 'Rodchenko';
  font-style: bold;
  font-weight: 500;
  src: url('./assets/fonts/Rodchenko-Bold.ttf');
}

.font-rodchenko {
  font-family: 'Rodchenko';
}

body {
  min-width: 320px;
  min-height: 100vh;
}
